.mapcontainer { 
    width: 40px !important;
    height: 40px;
    position: relative;
    display: inline-block;
}
.mapcontainer a { 
    display: none;
    position: absolute;
    z-index: 1000;
    left: 0px;
    top: -27px;
    width: 110px !important;
    max-width: 106px !important;
    height: 26px;
    font-size: 16px;
    line-height: 26px;
    background: #2f87c1;
    text-align: center;
    color: #f5f5f5;
}
.mapcontainer:hover a {
    display: block;
}
.mapcontainer_gaode {
    top: -53px !important;    
    border-radius: 4px 4px 0 0;
}
.mapcontainer_baidu {
    top: -27px !important;    
    border-radius: 0 0 4px 4px;
}